#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:
	cd mt32emu_alsadrv && \
	make -j$(nproc)

override_dh_auto_install:
	mkdir -p debian/mt32emu-alsadrv/usr/bin && \
	cd mt32emu_alsadrv && \
	sed 's/\/usr\/local\/bin/..\/debian\/mt32emu-alsadrv\/usr\/bin/g' Makefile -i && \
	make install
